body
{
    color: #606c76;
    font-family: '微软雅黑', "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif
}

p
{
	margin: 0;
	padding: 0;
	border: 0;
}

input
{
    display: block;
    width: 100%;
    max-width: 480px;
    margin: auto;
    height: 30px;
    font: 12px arial;
    border: 1px solid #999;
    outline: none;
    box-shadow: none; 
}

table
{
    width: 100% -60px;
    margin: 30px;
}

th, td {
    border-bottom: 1px solid #e1e1e1;
    padding: 12px 15px;
    text-align: middle;
    width: 50%;
}

td:first-child{
    border-right: 1px solid #e1e1e1;
}

span.data-source{
    display: block;
    margin: auto;
    font-size: 12px;
    color: #606c76;
    text-align: center;
    margin-top: 10px;
}

#search-box-group{
    margin: 20px;
}

#search-group-content{
    border: 1px solid #606c76;
    border-image-source: linear-gradient(90deg, rgba(0, 0, 0, 0), #444 50%, rgba(0, 0, 0, 0));
    border-image-slice: 1;
    border-bottom: 0px;
}

